* {
  box-sizing: border-box; }

#app-container {
  background-color: #47AE7C;
  font-family: sans-serif; }

img {
  display: block;
  padding: 0;
  width: 100%; }

.columnscontainer {
  font-size: 0; }

/*  Bootstrap Clearfix */
/*  Tablet  */
@media (min-width: 767px) {
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1) {
    clear: none; }

  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1) {
    clear: left; } }
/*  Medium Desktop  */
@media (min-width: 992px) {
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1) {
    clear: none; }

  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1) {
    clear: left; } }
.navbar {
  background-color: #222;
  height: 54px;
  left: 20px;
  position: fixed;
  top: 0; }

.menubutton {
  height: 100%;
  text-align: center;
  width: 50px; }

.menubutton i {
  color: #FFF;
  font-size: 20px;
  padding: 16px;
  text-align: center; }

.header {
  background-color: #47AE7C;
  height: 120px;
  margin: 0;
  text-align: center;
  width: 100%; }

.header h4 {
  border: 2px solid rgba(255, 255, 255, 0.75);
  color: rgba(200, 200, 200, 0.75);
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 13px 28px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 24px;
  vertical-align: middle; }

.promoblock {
  background-color: #ffffff; }

.promoblurb {
  background-color: #FFFFFF;
  text-align: center;
  width: 80%; }
  .promoblurb h1 {
    color: #000000;
    font-family: "Palatino";
    font-size: 32px;
    margin: 0 auto 16px auto; }
  .promoblurb p {
    color: #737373;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    margin: 0; }

.creators {
  padding-top: 32px;
  width: 60%; }

.creators_infopane {
  border: none;
  padding: 0;
  text-align: center; }
  .creators_infopane h4 {
    font-family: sans-serif;
    font-size: 14px;
    margin: 4px; }
  .creators_infopane p {
    font-family: sans-serif;
    font-size: 12px;
    margin: 4px; }
  .creators_infopane .twitterhandle {
    color: #00E05C; }

.taglineblock {
  background-image: url(../images/solrod-team-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 100px;
  text-align: center;
  top: 0;
  width: 100%; }

.tagline {
  margin: 0 auto;
  padding: 100px;
  width: 50%; }

.grantblock {
  background: none; }

.grantsblurb {
  text-align: center;
  width: 85%; }
  .grantsblurb h1 {
    color: #FFFFFF;
    font-family: "Palatino";
    font-size: 32px;
    margin: 0 auto 16px auto; }
  .grantsblurb p {
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    margin: 0; }

.projects_infopane {
  border: none;
  margin-top: 14px;
  padding: 0;
  text-align: center; }
  .projects_infopane h4 {
    font-family: sans-serif;
    font-size: 14px; }
  .projects_infopane p {
    font-family: sans-serif;
    font-size: 12px; }

.teamblock {
  background-image: url(../images/solrod-drawingboard-background.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 64px;
  min-height: 300px;
  position: relative;
  width: 100%; }

.teambutton {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  width: 50%; }

.teambutton button {
  background-color: #677F9F;
  border: 1px solid #677F9F;
  border-radius: 8px;
  color: #FFFFFF;
  padding: 32px;
  width: 100%; }

.footer {
  background: #FFFFFF;
  height: 120px;
  margin: 0;
  width: 100%; }

.social {
  bottom: -20px;
  position: relative;
  text-align: left;
  width: 100%; }

.social img {
  display: inline-block;
  margin: 20px;
  width: 32px; }

@media screen and (min-width: 768px) {
  .promoblock {
    margin: 0 auto;
    width: 80%; }

  .creators {
    width: 85%; }

  .grantblock {
    margin: auto;
    width: 65%; }

  .social {
    bottom: -24px;
    text-align: right;
    width: 90%; }

  .social img {
    width: 24px; } }

/*# sourceMappingURL=styles.css.map */
