.creators{
  padding-top: 32px;
  width: 60%;
}

.creators_column{
}

.creators_infopane{
  padding: 0;
  text-align: center;
}

.creators_infopane img{
}

.creators_infopane p{
  margin: 8px;
}

.twitterhandle{
  color: #00E05C;
}
