.footer{
  background: #FFFFFF;
  height: 120px;
  margin: 0;
  width: 100%;
}

.social{
  bottom: -20px;
  position: relative;
  text-align: left;
  width: 100%;
}

.social img{
  display: inline-block;
  margin: 20px;
  width: 32px;
}
