.navbar{
  background-color: #222;
  height: 54px;
  left: 20px;
  position: fixed;
  top: 0;
}

.menubutton{
  height: 100%;
  text-align: center;
  width: 50px;
}

.menubutton i{
  color: #FFF;
  font-size: 20px;
  padding: 16px;
  text-align: center;
}
