.promoblock{background-color: #ffffff;}

.promoblurb{
  background-color: #FFFFFF;
  text-align: center;
  width: 80%;
}

.promoblurb h1{
  @include promoblurbheader;
}

.promoblurb p{
  @include promotext;
}
