// BASICS
$bgcolor: #47AE7C;

// TEXT - BLURB HEADERS
$header1color: #000000;
$header2color: #FFFFFF;
//    ---
$headerfont: "Palatino";
$headersize: 32px;
$headermargin: 0 auto 16px auto;

//TEXT - BLURB BODIES
$p1color: #737373;
$p2color: #FFFFFF;
//    ---
$pfont: sans-serif;
$psize: 13px;
$pweight: 400;
$prule: 2;
$pmargin: 0;
