// BASIC UNIVERSAL MARKUP
*{box-sizing: border-box}

#app-container{
  background-color: #47AE7C;
  font-family: sans-serif;
}

img {
  display: block;
  padding: 0;
  width: 100%;
}

.columnscontainer{font-size: 0;}

// SASS IMPORTS
@import "./variables";
@import "./mixins";
@import "./clearfix";
@import "./navbar";
@import "./header";
@import "./promoblock";
@import "./creators";
@import "./taglineblock";
@import "./grants";
@import "./projects";
@import "./teamblock";
@import "./footer";

// NON-MOBILE VERSION
@media screen and (min-width: 768px){
  .promoblock{
    margin: 0 auto;
    width: 80%;
  }
  .creators{
    width: 85%;
  }
  .grantblock{
    margin: auto;
    width: 65%;
  }
  .social{
    bottom: -24px;
    text-align: right;
    width: 90%;
  }
  .social img{
    width: 24px;
  }
}
